body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('cute-pink.jpg');
  background-size: cover;
  background-position: center;
  font-family: 'Kalamaya', sans-serif;
 
}

.container {
  text-align: center;
}

button {
  padding: 10px 20px;
  font-size: 1.2em;
  margin: 10px;
}
